@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@keyframes gradient-x {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 15s ease infinite;
}