@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@keyframes gradient-x {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 15s ease infinite;
}


.swal-dark {
  background: #1f2937 !important; /* bg-gray-800 */
  color: #f3f4f6 !important;      /* text-gray-100 */
}

.swal-light {
  background: #ffffff !important;
  color: #1f2937 !important;
}
